# Configuration OpenSSL for load-balancing provider
#
# Format of this file please refer to:
#     https://www.openssl.org/docs/man3.0/man5/config.html
#

# These must be in the default section
config_diagnostics = 1
openssl_conf = openssl_init

[openssl_init]
providers = providers
# alg_section = evp_properties

[providers]
default = default_conf
loadbalance = loadbalance_conf
ibmd5mbprov = libmd5mbprov_conf

# #define LB_STRATEGY_ROUND_ROBIN         1
# #define LB_STRATEGY_PRIORITY            2
# #define LB_STRATEGY_FREE_BANDWIDTH      3
# #define LB_STRATEGY_PACKET_SIZE         4

[loadbalance_conf]
activate = yes
lb-strategy = 1

[default_conf]
activate = yes

[libmd5mbprov_conf]
module  = /docker-volume/md5_mb_provider.git/build/src/libmd5mbprov.so
activate = yes

# [evp_properties]
# default_properties = provider=loadbalance
