# Configuration OpenSSL for load-balancing provider
#
# Format of this file please refer to:
#     https://www.openssl.org/docs/man3.0/man5/config.html
#

# These must be in the default section
config_diagnostics = 1
openssl_conf = openssl_init

[openssl_init]
providers = providers
alg_section = evp_properties

[providers]
loadbalance = loadbalance_conf
default = default_conf
libmd5mbprov = libmd5mbprov_conf

[loadbalance_conf]
activate = yes

[default_conf]
activate = yes

[libmd5mbprov_conf]
module  = /home/ubuntu/md5_mb_prov.git/build/src/libmd5mbprov.so
activate = yes

[evp_properties]
default_properties = provider=loadbalance
