# Configuration OpenSSL for load-balancing provider
#
# Format of this file please refer to:
#     https://www.openssl.org/docs/man3.0/man5/config.html
#

# These must be in the default section
config_diagnostics = 1
openssl_conf = openssl_init

[openssl_init]
providers = providers

[providers]
default = default_conf

[default_conf]
activate = yes
